.background-div {
  width: 20000pt;
  height: 20000pt;
  background-color: #FFFFFF;
}

.djs-overlay-background-overlay {
  top: -1000px !important;
  left: -1000px !important;
}

.overlay-text {
  background-color: #3498db; /* Set the background color as needed */
  color: #fff; /* Text color */
  font-size: 14px;
  padding: 8px 12px; /* Adjust the padding as needed */
  border-radius: 5px; /* Adjust the border-radius for rounded corners */
  /* Add more styling as per your requirements */
}